<div id="updateModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeUpdateModal()">&times;</span>
        <h2>Update Student</h2>
        <form id="updateForm">
            {% csrf_token %}
            <input type="hidden" id="student_id">
            <label for="update_first_name">First Name:</label>
            <input type="text" id="update_first_name" name="first_name" required><br><br>

            <label for="update_last_name">Last Name:</label>
            <input type="text" id="update_last_name" name="last_name" required><br><br>

            <label for="update_gender">Gender:</label>
            <select id="update_gender" name="ender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="X">X</option>
            </select>
    
            <label for="update_grade">Grade:</label>
            <select id="update_grade" name="grade" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
    
            <label for="update_score">Score:</label>
            <input type="update_score" id="update_score" name="score"><br><br>

            

            <button type="button" onclick="submitUpdate()">Update Student</button>
        </form>
    </div>
</div>
