<!-- Update User Modal -->
<div id="updateModal" style="display:none;">
    <div class="modal-content">
      <span onclick="closeUpdateModal()" class="close">&times;</span>
      <h2>Update User</h2>
      <form id="updateUserForm">
        <input type="hidden" id="update_user_id">
  
        <p>Email: <span id="update_email"></span></p>
  
        <label for="update_password">Password (leave blank to keep current):</label>
        <input type="password" id="update_password">
  
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>

        <label for="update_is_admin">Is Admin:</label>
        <input type="checkbox" id="update_is_admin">
  
        <label for="update_is_superuser">Is Superuser:</label>
        <input type="checkbox" id="update_is_superuser">
  
        <button type="button" onclick="submitUpdate()">Update User</button>
        <div id="error_message" style="color: red;"></div>
      </form>
    </div>
        <!-- Display error messages -->

  </div>
  