/**********************************Login Page***************************************/
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f4a261, #e76f51); 
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #fff;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); 
    text-align: center;
    width: 70%;
    max-width: 100%;
}

.welcome-message h1 {
    font-size: 32px;
    font-weight: 600;
    color: #264653;
    margin-bottom: 40px;
    text-align: center;
}

.login-container label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #6e6e73;
    text-align: left;
    margin-bottom: 10px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    border-color: #2196f3;
    box-shadow: 0 0 8px rgba(33, 150, 243, 0.3);
    outline: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

.login-container button {
    flex: 1;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-right: 10px; 
}

.button-group button:last-child {
    margin-right: 0;
}

.login-container button .material-icons {
    margin-right: 8px;
}

.login-btn {
    background-color: #2196f3; 
}

.login-btn:hover {
    background-color: #1976d2;
    box-shadow: 0 8px 16px rgba(25, 118, 210, 0.3);
}

.register-btn {
    background-color: #ff7043; 
}

.register-btn:hover {
    background-color: #e64a19;
    box-shadow: 0 8px 16px rgba(230, 74, 25, 0.3);
}

.forgot-password-btn {
    background-color: #368512; 
}

.forgot-password-btn:hover {
    background-color: #e64a19;
    box-shadow: 0 8px 16px rgba(230, 74, 25, 0.3);
}

.messages {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    color: #ff3b30;
    font-size: 20px;
}

/* Responsive styling */
@media only screen and (max-width: 768px) {
    .login-container {
        padding: 50px;
        width: 90%;
    }
    .welcome-message h1 {
        font-size: 28px;
    }
    .login-container button {
        padding: 12px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .login-container {
        padding: 30px;
        width: 95%;
    }
    .welcome-message h1 {
        font-size: 24px;
    }
    .login-container button {
        padding: 10px;
        font-size: 14px;
    }
    .login-container input[type="email"],
    .login-container input[type="password"] {
        font-size: 14px;
        padding: 10px 12px;
    }
}

/****************************************Register Page***************************************/
.register-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); 
    width: 70%;
    max-width: 100%;
}

.register-container input[type="email"],
.register-container input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.register-container input[type="email"]:focus,
.register-container input[type="password"]:focus {
    border-color: #2196f3;
    box-shadow: 0 0 8px rgba(33, 150, 243, 0.3);
    outline: none;
}

.registerbutton {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #2196f3; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.registerbutton:hover {
    background-color: #1976d2;
    box-shadow: 0 8px 16px rgba(25, 118, 210, 0.3);
}

.gobackbutton {
    background-color: #e74c3c; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 20vw; 
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    float: right; 
}

.gobackbutton:hover {
    background-color: #c0392b; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive styling */
@media only screen and (max-width: 768px) {
    .register-container {
        padding: 30px;
        width: 90%;
    }
    .welcome-message h1 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 480px) {
    .register-container {
        padding: 20px;
        width: 95%;
    }
    .welcome-message h1 {
        font-size: 24px;
    }
    .register-container button {
        padding: 10px;
        font-size: 14px;
    }
    .register-container input[type="email"],
    .register-container input[type="password"] {
        font-size: 14px;
        padding: 10px 12px;
    }
}

/****************************************ForgetPassword Page***************************************/
.forgot-password-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); 
    width: 60%;
    max-width: 100%;
}

.forgot-password-container .forgot-password-btn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #243281; 
    margin-top: 5%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.forgot-password-container .forgot-password-btn .material-icons {
    margin-right: 8px;
}

.forgot-password-container .forgot-password-btn:hover {
    background-color: #e64a19;
    box-shadow: 0 8px 16px rgba(230, 74, 25, 0.3);
}

.forgot-password-container input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.forgot-password-container input[type="email"]:focus {
    border-color: #2196f3;
    box-shadow: 0 0 8px rgba(33, 150, 243, 0.3);
    outline: none;
}

@media only screen and (max-width: 768px) {
    .forgot-password-container {
        padding: 30px;
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    .forgot-password-container .forgot-password-container {
        padding: 20px;
        width: 95%;
    }
    .forgot-password-container h2 {
        font-size: 24px;
    }
    .forgot-password-container input[type="email"] {
        font-size: 14px;
        padding: 10px 12px;
    }
    .forgot-password-container .forgot-password-btn {
        padding: 10px;
        font-size: 14px;
    }
}

/*************************** Reset Password Page ********************************/
.reset-password-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); 
    width: 400px;
    max-width: 100%;
    text-align: center;
}

.reset-password-containerh2 {
    font-size: 28px;
    font-weight: 600;
    color: #264653;
    margin-bottom: 30px;
}

.reset-password-container label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #6e6e73;
    text-align: left;
    margin-bottom: 10px;
}

.reset-password-container input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.reset-password-container input[type="password"]:focus {
    border-color: #2196f3;
    box-shadow: 0 0 8px rgba(33, 150, 243, 0.3);
    outline: none;
}

.reset-password-container button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #2196f3;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.reset-password-container button:hover {
    background-color: #1976d2;
    box-shadow: 0 8px 16px rgba(25, 118, 210, 0.3);
}

@media only screen and (max-width: 768px) {
    .reset-password-container {
        padding: 30px;
        width: 90%;
    }

    .reset-password-container h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
    .reset-password-container {
        padding: 20px;
        width: 95%;
    }

    .reset-password-container h2 {
        font-size: 22px;
    }

    .reset-password-container button {
        padding: 12px;
        font-size: 14px;
    }

    .reset-password-container input[type="password"] {
        padding: 10px 12px;
        font-size: 14px;
    }
}